body
{
	background-image: url('1.jpeg');
	background-size: cover;
}
.button1
{
	border-top-right-radius:  50px;
	border-bottom-right-radius:  50px;
	color: rgba(255,255,255,0.4);
	border-color: rgba(255,255,255,0.4);
	background-color: rgba(255,179,199,0.2);
	position: fixed;
	bottom: 30%;
}
.clear
{
	display: flex;
	justify-content: center;
}
.btn-outline-light:hover
{
background-color: rgba(255,179,199,0.8)
}
.btn-outline-light:active
{
background-color: rgba(255,179,199,0.8)
}
